@import url("https://use.typekit.net/faq2eoc.css");

body{
    font-family: 'Halcom';
    padding: 0;
    margin: 0; 
    margin: 0 auto;
}
/* Menu Header*/
nav{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px 0px;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 5px 0px 0px #C0C0C0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

 li{
    margin-left: 15px;
}

 ul a {
    text-decoration: none;
    color: #333333;
}

a img {
    width: 40%;
    margin-left: 30px;
    margin-top: 10px;
}

nav ul a:hover{
    font-weight: bold;
}

nav a button {
    font-family: halcom, sans-serif;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #000000;
    color: black;
    background-color: white;
    border: white;
}

.activ {
    font-weight: bold;
}

/* HERO */

.hero {
    margin-top: 110px;
}

.prix {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#global {
    margin-left: 45px;
}

/* DESCRIPTION */

.description {
    width: 60%;
  }

  .description button {
    padding: 6px 8px;
    border: 1px solid #000000;
    background-color: white;
    border-radius: 15px;
  }

  .ligne {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  #paragraphe {
    height: 115px; /* hauteur initiale du paragraphe */
    overflow: hidden; /* masque le texte qui dépasse */
  }

  #paragraphe.full {
    height: auto; /* affiche tout le texte */
  }

  a {
    text-decoration: none;
  }

/* DIAGNOSTICS */

.jaune {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.jaune button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 46px;
    margin-right: 10px;
    color: white;
    background: #B7995E;
    border: white;
    border-radius: 5px;
}

/* SCHÉMA */

.schéma {
    display: flex;
}

.ges {
    margin-left: 30px;
}

.rectangle {
    width: 50px; 
    height: 10px;
}

.energy {
    display: flex;
    align-items: center;
}

.vert-foncé {
    background: #00B076;
    border-radius: 6px 0px 0px 6px;
}

.vert-claire {
    background: #00C756;
    margin-left: 3px;
}

.c {
    display: flex;
    width: 50px;
    height: 41px;
    color: #2F2F2F;
    background: #00D07D;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}

.b-jaune {
    background: #FBF200;
    margin-left: 3px;
}

.beige {
    background: #FFBC00;
    margin-left: 3px;
}

.orange {
    background: #FF7D00;
    margin-left: 3px;
}

.red {
    background: #ff0000;
    border-radius: 0px 6px 6px 0px;
    margin-left: 3px;
}

.a {
    display: flex;
    width: 50px;
    height: 41px;
    color: #2F2F2F;
    background: #98DCFF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
}

.bleu {
    background: #82B6D4;
    margin-left: 3px;
}

.bleu-foncé {
    background: #7291B3;
    margin-left: 3px;
}

.gris {
    background: #5D6F8F;
    margin-left: 3px;
}

.mauve-pale {
    background: #4F4F73;
    margin-left: 3px;
}

.mauve {
    background: #3C3251;
    margin-left: 3px;
}

.violet {
    background: #2D1636;
    border-radius: 0px 6px 6px 0px;
    margin-left: 3px;
}

/* CONTATC */

.fond {
    width: 1064px;
    height: 893px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

/* FOOTER */

footer{
    background-color: #2B2B2B;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 25px;
    position: relative;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container-style {
    vertical-align: baseline;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 182px;
}

footer p{
    color: white;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
}

footer h1{
    text-decoration: none;
    color: white;
    font-size: 140%;
}

#mention {
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    padding-bottom: 0;
}

.app img {
    width: 50%;
}

@media screen and (max-width: 1100px) {
    ul {
      font-size: 85%;
      flex-wrap: wrap;
    }
    li {
      margin-top: 15px;
      margin-left: 15px;
    }
  }